<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Lesson</title>
</head>
<body>
<form th:action="@{/tasks/saveUpdateTask/{lessonId}/{taskId}(lessonId=${lessonId},taskId=${task.id})}"
      th:object="${task}"
      th:method="post">
    <div>
        <input th:field="*{taskName}" >
    </div>
    <div>
        <input th:field="*{taskText}" >
    </div>
    <div>
        <input type="submit" value="update">
    </div>
</form>
</body>
</html>